
<div *ngIf="posts" class="container pt-2">
  <div class="row">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
        <th scope="col">Number of Comment</th>
        <th scope="col">Detail</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let post of posts | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <td>{{ post.title }}</td>
        <td>{{ post.body }}</td>
        <td>{{ post.comments ? post.comments.length : 0 }}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="onDetailClick(post.id)">Detail</button>
        </td>
      </tr>
      </tbody>
    </table>
    
    <div class="col-6 d-flex justify-content-between p-2 col-6">
      <ngb-pagination [collectionSize]="posts.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="10">
      </ngb-pagination>
    </div>
  </div>
</div>