
<div class="container pt-2">
  <div *ngIf="post" class="row">    
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="col-12 font-weight-bold">User Name</div>
          <div class="col-12">{{user.username}}</div>
          <div class="col-12 font-weight-bold mt-2">Title</div>
          <div class="col-12">{{post.title}}</div>
          <div class="col-12 font-weight-bold mt-2">Body</div>
          <div class="col-12">{{post.body}}</div>
        </div>
      </div>
    </div>

    <h3 class="mt-4 ml-3">Comments</h3>
    <div *ngIf="comments" class="container pt-2 row">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Body</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let comment of comments | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
          <td>{{ comment.name }}</td>
          <td>{{ comment.email }}</td>
          <td>{{ comment.body }}</td>
        </tr>
        </tbody>
      </table>
      
      <div class="d-flex justify-content-between col-6 p-2">
        <ngb-pagination [collectionSize]="comments.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="10">
        </ngb-pagination>
      </div>
    
      <div class="col-6 text-right">
        <button type="button" class="btn btn-primary" (click)="onBackClick()">Back</button>
      </div>
    </div>
  </div>
</div>